@use '../pos' as c;

header.common {
    display: block;
    position: sticky;
    z-index: 10;

    > .Header {
        @include c.flex(space-between);

        > div:first-of-type {
            @include c.flex(start);

            > .Actions {
                @include c.flex(start);
    
                > div {
                    @include c.flex(start);
    
                    > .Search {
                        @include c.flex(start);

                        ~ button {
                            > a {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
    
            > .Info {
                @include c.flex(start);
            }
        }


        > .Links {
            @include c.flex(start, null, row-reverse);
        }
    }
}