.calendar {
  display: block;
  position: relative;
}
.calendar > .Calendar {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, 1fr);
}
.calendar > .NewEntry {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.calendar > .NewEntry input[type=checkbox] {
  display: none;
}
.calendar > .NewEntry label {
  display: inline-block;
  position: relative;
}
.calendar > .NewEntry label:before {
  display: inline-block;
  position: absolute;
}
.calendar > .NewEntry .set_time {
  display: none;
}
.calendar > .NewEntry > form {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 12;
}
.calendar > .NewEntry > form > .Main {
  display: block;
  position: relative;
}
.calendar > .NewEntry > form > .Main > .Date {
  display: flex;
  position: relative;
  justify-content: center;
}
.calendar > .NewEntry > form > .Main > .Date > div {
  display: block;
  position: relative;
}
.calendar > .NewEntry > form > .Main > .Date > div > div {
  display: flex;
  position: relative;
  justify-content: space-around;
}
.calendar > .NewEntry > form > .Main > .Repeat {
  display: block;
  position: relative;
}
.calendar > .NewEntry > form > .Main > .Repeat > div {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.calendar > .NewEntry > form > .Main > .Repeat > div > div {
  display: block;
  position: relative;
}
.calendar > .NewEntry > form > .Main > .Supplement {
  display: block;
  position: relative;
}
.calendar > .NewEntry > form > .Main > .Supplement .SetTime {
  display: block;
  position: relative;
  display: none;
}
.calendar > .NewEntry > form > .Main > .Supplement > .Week {
  display: flex;
  position: relative;
  justify-content: space-around;
  display: none;
}
.calendar > .NewEntry > form > .Main > .Supplement > .Week > div {
  display: block;
  position: relative;
}
.calendar > .NewEntry > form > .Main > .Supplement > .Interval {
  display: flex;
  position: relative;
  justify-content: space-around;
  display: none;
}
.calendar > .NewEntry > form > .Adds {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
}
.calendar > .NewEntry > form > .Adds > div {
  display: flex;
  position: relative;
  justify-content: start;
  flex-direction: column;
}
.calendar > .NewEntry > form > .Adds > div > div:first-child {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.calendar > .NewEntry > form > .Adds > div > div:first-child > div {
  display: flex;
  position: relative;
  justify-content: start;
}
.calendar > .NewEntry > form > .Adds > div > .list {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.calendar > .NewEntry > .RepeatUpTo {
  display: none;
  position: fixed;
  z-index: 20;
}
.calendar > .NewEntry > .RepeatUpTo > .Date {
  display: flex;
  position: relative;
  justify-content: space-around;
}
.calendar > .NewEntry > .RepeatUpTo > .Calendar {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, 1fr);
}

/*# sourceMappingURL=position.css.map */
