@use '../st' as c;

.calendar {
    > .Calendar {
        > .Day {
            height: 200px;
            @include c.border(bottom);
            @include c.border(right);

            &.start {
                @include c.border(left);
            }

            > .Header {
                width: 100%;

                > button {
                    width: 100%;
                    font-weight: bold;
                    text-align: center;
                    background-color: #eee;

                    &:hover {
                        background-color: #ccc;
                    }
                }
            }
        }
    }
}