@use '../pos' as c;

.todo {
    > .Subsection {
        display: block;
        position: fixed;
    }

    > .Info {
        @include c.display;

        > .Sorting {
            @include c.display;

            > div {
                @include c.flex(space-between);

                > div {
                    @include c.flex(end);

                    > div:last-of-type {
                        @include c.flex(end);
                    }
                }
            }

            input[type="checkbox"] {
                display: none;
            }

            label {
                display: inline-block;
                position: relative;

                &:before {
                    display: inline-block;
                    position: absolute;
                }
            }
        }

        > .Entry {
            @include c.display;

            > div:last-of-type {
                @include c.flex(space-between);

                > div {
                    @include c.flex(space-between, null, column);

                    > div:first-of-type {
                        height: 100%;
                    }
                }
            }
        }
    }

    > .Section {
        display: block;
        position: fixed;

        > div {
            @include c.flex(start, null, column);
        }
    }
}