@use '../st' as c;

.todo {
    > .Subsection {
        box-sizing: border-box;
        top: 70px;
        left: 0;
        width: 250px;
        height: 100%;
        @include c.border(right);

        > .Type {
            > button {
                background-color: #ccc;
                @include c.border(none, #ccc);
                @include c.border(bottom, #aaa);
            }
        }

        .Subtype {
            margin-left: 5px;
            @include c.border(left);
        }

        button {
            box-sizing: border-box;
            width: 100%;
            padding-left: 5px;
            background-color: c.$main-background;
            @include c.border(none, c.$main-background);

            &:hover {
                border-color: #aaa;
                background-color: #eee;
            }

            > pre {
                text-align: start;
            }
        }
    }

    > .Info {
        margin-left: 250px;
        margin-right: 70px;

        > .Entry {
            margin: 20px;
            @include c.border(none);
        }
    }

    > .Section {
        box-sizing: border-box;
        top: 70px;
        right: 0;
        width: 70px;

        > .Cathegories {
            box-sizing: border-box;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0 10px 10px 10px;
            height: 100%;
            @include c.border(left);
            @include c.border(bottom);

            > button {
                box-sizing: border-box;
                padding: 10px 5px;
                @include c.border(bottom, c.$transparent-border-color);

                &:hover {
                    border-color: c.$border-color;
                }
            }
        }
    }
}