@use '../st' as c;

.todo {
    > .Subsection {
        box-sizing: border-box;
        top: 70px;
        left: 0;
        width: 250px;
        height: 100%;
        @include c.border(right);

        > .Type {
            > button {
                background-color: #ccc;
                @include c.border(none, #ccc);
                @include c.border(bottom, #aaa);
            }
        }

        .Subtype {
            margin-left: 5px;
            @include c.border(left);
        }

        button {
            box-sizing: border-box;
            width: 100%;
            padding-left: 5px;
            background-color: c.$main-background;
            @include c.border(none, c.$main-background);

            &:hover {
                border-color: #aaa;
                background-color: #eee;
            }

            > pre {
                text-align: start;
            }
        }
    }

    > .Info {
        margin-left: 250px;
        margin-right: 70px;

        > .Sorting {
            margin: 0 10px;
            padding: 5px 10px;
            @include c.border(bottom);

            > div {
                > div {
                    gap: 20px;

                    > div:last-of-type {
                        @include c.border(none);

                        > p {
                            padding: 0 5px;
                        }

                        > button {
                            @include c.border(left);

                            > svg {
                                vertical-align: middle;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }

            label {
                padding-left: 30px;

                &:before {
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    @include c.border(none);
                }
            }

            input[type="checkbox"]:checked + label:before {
                content: "\2713";
                font-size: 20px;
                font-weight: bold;
                color: c.$text-color;
                text-align: center;
            }
        }

        > .Entry {
            margin: 20px;
            @include c.border(none);
            border-radius: 10px;

            > div:first-of-type {
                margin: 0 10px;
                @include c.border(bottom);

                > input {
                    box-sizing: border-box;
                    margin: 10px 0;
                    padding: 0 30px 0 10px;
                    font-size: 30px;
                    width: 100%;
                }
            }

            > div:last-of-type {
                > div:first-of-type {
                    width: 100%;

                    > div:first-of-type {
                        padding: 10px 5px;
                        margin: 0 10px;
                        @include c.border(bottom);

                        &:last-of-type {
                            border: none;
                        } 

                        > textarea {
                            resize: none;
                            width: 100%;
                            height: 100%;
                            outline-color: #aaa;
                        }
                    }

                    > div:last-of-type {
                        > div {
                            padding: 10px 5px;
                            margin: 0 10px;
                            @include c.border(bottom);

                            &:last-of-type {
                                border: none;
                            } 
                        }
                    }
                }

                > div:last-of-type {
                    @include c.border(left);

                    > div {
                        padding: 10px 5px;
                        margin: 0 10px;
                        @include c.border(bottom);

                        &:last-of-type {
                            border: none;
                        }
                    }
                }
            }
        }
    }

    > .Section {
        box-sizing: border-box;
        top: 70px;
        right: 0;
        width: 70px;

        > .Cathegories {
            box-sizing: border-box;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0 10px 10px 10px;
            height: 100%;
            @include c.border(left);
            @include c.border(bottom);

            > button {
                box-sizing: border-box;
                padding: 10px 5px;
                @include c.border(bottom, c.$transparent-border-color);

                &:hover {
                    border-color: c.$border-color;
                }
            }
        }
    }
}