@use '../st' as c;

%login-form {
    @include c.border(none);
    border-radius: 20px;
    width: fit-content;
    margin: 200px auto 0 auto;
    padding: 40px 100px;
    gap: 20px;
}

%login-p {
    font-size: 40px;
}

%login-input {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    padding: 2px 10px;
    width: 370px;
    @include c.border(top);
    @include c.border(bottom);
}

%login-button {
    font-size: 30px;
    @include c.border(left);
    @include c.border(right);
    padding: 10px 20px;
    font-weight: bold;

    &:hover {
        background-color: #ddd;
    }
}