@use '../pos' as c;

.calendar {
    @include c.display;

    > .Calendar {
        @include c.grid(repeat(7, 1fr));
    }

    > .NewEntry {
        // display: flex;
        display: none;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 11;

        input[type="checkbox"] {
            display: none;
        }

        label {
            display: inline-block;
            position: relative;

            &:before {
                display: inline-block;
                position: absolute;
            }
        }

        .set_time {
            display: none;
        }

        > form {
            @include c.flex(center);
            z-index: 12;

            > .Main {
                @include c.display;

                > .Date {
                    @include c.flex(center);

                    > div {
                        @include c.display;

                        > div {
                            @include c.flex(space-around);
                        }
                    }
                }

                > .Repeat {
                    @include c.display;

                    > div {
                        @include c.flex(space-between);

                        > div {
                            @include c.display;
                        }
                    }
                }

                > .Supplement {
                    @include c.display;

                    .SetTime {
                        @include c.display;
                        display: none;
                    }

                    > .Week {
                        @include c.flex(space-around);
                        display: none;

                        > div {
                            @include c.display;
                        }
                    }

                    > .Interval {
                        @include c.flex(space-around);
                        display: none;
                    }
                }
            }

            > .Adds {
                @include c.flex(space-between, null, column);

                > div {
                    @include c.flex(start, null, column);

                    > div:first-child {
                        @include c.flex(space-between);

                        > div {
                            @include c.flex(start);
                        }
                    }

                    > .list {
                        @include c.flex(space-between);
                    }
                }
            }
        }

        > .RepeatUpTo {
            // display: block;
            display: none;
            position: fixed;
            z-index: 20;
    
            > .Date {
                @include c.flex(space-around);
            }
    
            > .Calendar {
                @include c.grid(repeat(7, 1fr));
            }
        }
    }
}