@use '../st' as c;

.calendar {
    > .Calendar {
        > .Day {
            height: 200px;
            @include c.border(bottom);
            @include c.border(right);

            &.start {
                @include c.border(left);
            }

            > .Header {
                width: 100%;

                > button {
                    width: 100%;
                    text-align: center;
                    background-color: #eee;

                    &:hover {
                        background-color: #ccc;

                        > span {
                            color: c.$text-color;
                        }
                    }

                    > span {
                        color: #bbb;
                    }
                }
            }
        }

        #now {
            > .Header {
                > button {
                    background-color: #797;

                    > span {
                        color: c.$text-color;
                    }
                }
            }
        }
    }

    > .NewEntry {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fffa;

        .bold {
            font-size: 22px;
            font-weight: bold;
        }

        button.bold {
            width: fit-content;
            margin: 0 auto;
        }

        label {
            padding-left: 30px;

            &:before {
                content: "";
                bottom: 0;
                left: 0;
                width: 20px;
                height: 20px;
                @include c.border(none);
            }
        }

        input[type="checkbox"]:checked + label:before {
            content: "\2713";
            font-size: 20px;
            font-weight: bold;
            color: c.$text-color;
            text-align: center;
            
        }

        > form {
            background-color: #fff;
            @include c.border(none);
            border-radius: 20px;
            width: fit-content;
            padding: 20px;

            > .Main {
                padding: 10px 20px 10px 0;
                @include c.border(right);
                margin-right: 20px;

                p {
                    text-align: center;
                }

                input[type="text"] {
                    @include c.border(top);
                    @include c.border(bottom);
                    font-size: 30px;
                    width: 100%;
                    text-align: center;
                }

                textarea {
                    @include c.border(top);
                    @include c.border(bottom);
                    width: 100%;
                    height: 200px;
                    resize: none;
                }

                > .Date {
                    margin-top: 7px;

                    input[type="text"] {
                        font-size: 22px;
                        width: 70px;
                    }

                    > div {
                        &:first-of-type {
                            padding-right: 15px;
                            @include c.border(right);
                            margin-right: 15px;
                        }

                        > div {
                            margin-top: 10px;
                        }

                        > div:first-of-type {
                            gap: 20px;
                        }
                    }
                }

                > .Repeat {
                    padding: 10px 0 0 0;
                    @include c.border(top);
                    margin-top: 10px;
                    
                    > p {
                        padding-bottom: 10px;
                    }
                }

                > .Supplement {
                    input[type="text"] {
                        font-size: 22px;
                        width: 70px;
                    }

                    > div {
                        margin-top: 10px;
                        padding-top: 10px;
                        @include c.border(top);
                    }

                    > .Week {
                        gap: 10px;
                    }
                }
            }

            > .Adds {
                > div {
                    width: 100%;
                    height: 100%;
                    padding: 10px 0;
                    gap: 10px;

                    > input {
                        box-sizing: border-box;
                        padding-left: 5px;
                        width: 200px;
                        @include c.border(top);
                        @include c.border(bottom);

                        &::placeholder {
                            font-size: 18px;
                        }
                    }

                    > .list {
                        min-width: 200px;
                        @include c.border(none);

                        svg {
                            width: 20px;
                            height: 20px;
                            padding-bottom: 1px;
                        }

                        > p {
                            width: 100%;
                            padding-left: 3px;
                            @include c.border(right);
                        }
                    }
                }

                > div:first-of-type {
                    @include c.border(bottom);
                }

                > div:last-of-type {
                    width: 100%;
                    height: fit-content;

                    > button {
                        font-size: 23px;
                        width: fit-content;
                        padding: 5px 15px;
                        margin: auto;
                        @include c.border(left);
                        @include c.border(right);

                        &:hover {
                            background-color: #ccc;
                        }
                    }
                }
            }
        }
        
        > .RepeatUpTo {
            background-color: #fff;
            @include c.border(left);
            @include c.border(top);
            bottom: 0;
            right: 0;
            width: fit-content;
            height: fit-content;
            text-align: center;
            
            > p:first-of-type {
                font-weight: bold;
                font-size: 23px;
            }
    
            > p:last-of-type {
                font-size: 18px;
            }
    
            > .Date {
                input[name] {
                    width: 70px;
                    text-align: center;
                    @include c.border(top);
                    @include c.border(bottom);
                }
            }
    
            > .Calendar {
                width: 300px;
                height: 350px;
                @include c.border(top);
                margin-top: 10px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 0;
                }
    
                > button {
                    > div {
                        box-sizing: border-box;
                        height: 65px;
                        @include c.border(bottom);
                        @include c.border(right);
    
                        &:hover {
                            background-color: #ccc;
                        }
    
                        > p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}